<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jquey mobile -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />

    
      <!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
      <link rel="stylesheet" href="C:\Users\Asus\Desktop\Final_CW\jquery.mobile-1.4.5.min.css" /> -->
      <!-- <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> -->
      <!-- <script src="C:\Users\Asus\Desktop\Final_CW\jquery-1.11.1.min.js"></script> -->
      <!-- <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
      <!-- <script src="C:\Users\Asus\Desktop\Final_CW\jquery.mobile-1.4.5.min.js"></script>
      <link rel="stylesheet" type="text/css" href="../assets/css/style.css"  /> -->
     

      <!-- theam config -->
      <link rel="stylesheet" href="../assets/themes/theam_d.css" />
     <link rel="stylesheet" href="css/themes/jquery.mobile.icons.min.css" />


      <!-- <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
      <link href="C:\Users\Asus\Desktop\Final_CW\font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>


    <div data-role="header">
        <a href="index.html" data-icon="delete">Cancel</a>
        <h1>Edit Contact</h1>

        <a href="#positionWindow" id="popupPadded" data-icon="search" data-rel="popup" data-theme="a" data-overlay-theme="a" data-position-to="window">Search</a>

        <div data-role="popup"  data-theme="a" data-overlay-theme="b" data-transition="slidedown" id="positionWindow" >
            <div data-role="fieldcontain">
                <label for="search-2">Search Input:</label>
                <input type="search" name="search-2" id="search-2" value="" />
            </div>
        </div>

        <a href="index.html" data-icon="eye" data-theme="a" class="ui-nodisc-icon">login</a>
    </div>

    <div data-role="content">
        <p>Hello world</p>
    </div><!-- /content -->

   

    <div data-role="footer" data-id="foo1" data-position="fixed">
        <div data-role="navbar" data-iconpos="top">
            <ul>
                <li><a href="#" data-icon="home" class="ui-nodisc-icon ui-alt-icon">Home</a></li>
                <li><a href="#" data-icon="grid" class="ui-nodisc-icon">Category</a></li>
                <li><a href="#" data-icon="alert" class="ui-nodisc-icon">Cart</a></li>
                <li><a href="#" data-icon="star" class="ui-nodisc-icon">Promotions</a></li>
                <li><a href="#" data-icon="user" class="ui-nodisc-icon">Account</a></li>
            </ul>
        </div><!-- /navbar -->
    </div><!-- /footer -->

    <!-- <div data-role="footer" data-id="foo1" data-position="fixed">		
            <div  data-role="navbar" data-iconpos="top">
                <ul>
                    <li><a href="#" data-icon="home" class="ui-nodisc-icon " >Home</a></li>
                    <li><a href="#" data-icon="grid" class="ui-nodisc-icon">Category</a></li>
                    <li><a href="#" data-icon="cart" class="ui-nodisc-icon">Cart</a></li>
                    <li><a href="#" data-icon="star" class="ui-nodisc-icon" >Promotions</a></li>
                    <li><a href="#" data-icon="user" class="ui-nodisc-icon" >Account</a></li>
                </ul>
            </div>
        </div> -->
</body>
<div></div>
<div></div>

</html>