<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>jQuery Feedback Plugin Demo</title>
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="C:/Users/Asus/Desktop/Simple-jQuery-Plugin-For-Popup-Feedback-Form-Feedback/css/jquery.feedback.css" type="text/css" />
</head>
<body>

<div id="feedback-anchor"></div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
<script src="C:/Users/Asus/Desktop/Simple-jQuery-Plugin-For-Popup-Feedback-Form-Feedback/js/jquery.feedback.js"></script> 
<script type="text/javascript">
    Feedback.init();
  </script>
</body>
</html>
