<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet'>

    <title>Login & Sign up</title>
   
    <link rel="stylesheet" type="text/css" href="../assets/css/loginRegister.css" />
    <style type="text/css">
    </style>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script></script>
        <script type="text/javascript">
        	$(document).ready(function(){
        		$(".register").click(function(){
        			$(".other").show();
        			$(".content").hide();
        			$(".register").addClass('active');
        			$(".login").removeClass('active');
        		});
        		$(".login").click(function(){
        			$(".content").show();
        			$(".other").hide();
        			$(".login").addClass('active');
        			$(".register").removeClass('active');
        		});
        	});
        </script>

</head>

<body>
   <img src="Logo.png" alt ="Logo" class="logo">
	<div id="main">
		<div id="tab-btn">
			<a href="#" class="login active">Register</a>
			<a href="#" class="register">Login</a>
		</div>
		<div class="content">
			<form action="#" method="post" id="reg-box">
                <input type="text" data-clear-btn="true" name="username" id="username" placeholder="Enter Username"><br>
                <input type="email" data-clear-btn="true" name="email" id="email" placeholder="Enter Email"><br>
                <input type="password" data-clear-btn="true" name="password" id="password" placeholder="Enter password"><br>
				<input type="submit" name="submit" value="SIGN UP" class="sub-btn" style="background-color: #f44336;"> </form>
			
		</div>
		<div class="other">
			<form action="#" method="post" id="login-box">
                
                <input type="text"   placeholder="Username" > <br>
                <input type="password" data-clear-btn="true" name="Password" id="password" placeholder="password"><br>
                <input type="checkbox" name="checkbox-mini-0" id="checkbox-mini-0" data-mini="true"><br>
                <label for="checkbox-mini-0">Remember Me</label>
                <input type="submit" name="submit" value="SIGN UP" class="sub-btn">
            </form>
            
		</div>
	</div>
</body>

</html>