.card {
    margin-top: 110px;
    background-color: #f1f8fe;
    border: 0px solid #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    min-height: 250px;
    min-width: 100px;
}
.card img {
border-radius: 100%; 
width: 110px;
height: 100px;
display: block;
display: block;
margin-left: auto;
margin-right: auto;
}
.ui-alt-icon {
font-size: 21px ;

}

/* Darker background on mouse-over */
.btn:hover {
background-color: RoyalBlue;
}
