
body {
    padding-bottom: 40px;
   
  }

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
.ui-navbar .ui-btn{
    background-color: white;
    color: #fe6311;
}

.ui-btn-icon-top:after{
    background-color: #fe6311;
}


.ui-page-theme-a .ui-btn.ui-btn-active{
    background-color: #fe6311;
}
.ui-btn-icon-notext:after{
    background-color:#A2C432 ;
}
/* .ui-alt-icon.ui-icon-home:after, .ui-alt-icon .ui-icon-home:after{
    background-image:url(../images/icons/home.svg);
}
.ui-icon-star:after{
    background-image:url(../images/icons/fav.svg);
} */
/* .ui-icon-user:after{
    background-image:url(../images/icons/account.svg);
} */
/* .ui-icon-grid:after{
    background-image:url(../images/icons/category.svg);
}
*/
.ui-icon-eye:after{
    background-image:url(../images/icons/login.svg);
} 

.ui-icon-alert:after{
    background-image:url(../images/icons/cart.svg);
}

#nav_des{
    background-color: white;
    color: #A2C432;
}

.ui-block-a{
    background-color: white;
}
.ui-bar-a{
    border-width: 0px;
}
.ui-bar-a{
    background-color: white;
}
.ui-page-theme-a{
    background-color: ghostwhite;
}
.ui-block-b{
    background-color: white;
}

.ui-icon-myicon:after {
	background-image: url("../images/res/Logo.png");
}

/*  */

.tales {
    width: 100%;
  }
  .carousel-inner{
    width:100%;
    max-height: 200px !important;
  }

/* media query */
@media only screen and (min-width: 375px) {
    .logo{
        height: 41px;
        width: 41px;
    }
  } 

  @media only screen and (max-width: 375px) {
    .logo{
        height: 41px;
    }
  } 

  @media only screen and (min-width: 669px) {
    .carousel-inner{
        width:100%;
        max-height: 500px !important;
      }
  } 